[2019-10-22 17:58] edd-- opened #1 "slow connect"
Hi,

I'm loving the add-on for Kodi & I have 2 questions:

- is 720p the highest available resolution ?
- the connect takes rather long time (around 15 seconds). Is there a way to speed this up ?

thanks for all your work !

[2019-11-13 18:30] shycoderX commented on #1
1080 is available for some channels. I don't have any connection problems myself is this happening when loading a livestream? Or before that.

[2019-11-15 15:25] edd-- commented on #1
Could you give an example of a 1080p channel ? Kodi reports all of them as 720p ...

By the way, één doesn’t seem to work anymore (throws an error)

[2019-11-15 15:26] edd-- commented on #1
xite also doesn’t work ...

[2019-11-15 19:41] shycoderX commented on #1
één for example and yes I pushed an incorrect version of the plugin by accident please test the 0.0.7 version when it is merged.

[2019-11-16 19:30] edd-- commented on #1
Works again, thx ! But één show as 720p when I click info ... so no 1080p for me. The vtm go plugin for example does show 1080p when I click info

[2019-11-17 10:43] shycoderX commented on #1
Go to Yelo addon settings -> Extra -> Inputstream adaptive settings -> enable ignore display resolution and set min bandwidth to a high number ex. 9999999.

After that return to Yelo add on settings -> bandwith -> and set min bandwith to highest available.

[2019-12-09 17:12] edd-- commented on #1
Again on-topic: In use the plugin live-streams as a widget. When I start a stream I first get 12 seconds of “please wait” and then again 4 seconds for the buffering.

When I use the plugin via the plugin screen, the first step is faster (4 seconds).

So it works, but it’s slow to switch channels ...

[2019-12-13 18:24] TASSDevon opened #4 "Question on livestream URL"
I'm using Home Assistant to send calls to Kodi to start streams. The following used to work (some months ago):

[code]

Seems like now it doesn't do anything, is this URL for the channels still OK?

[2019-12-13 21:42] #4 closed

[2020-01-27 21:37] edd-- opened #5 "decoding issues some streams"
Some channels like Eurosport are not decoding properly. I'm running on Odroid N2. Very interlaced and choppy playback ...

Any idea what might be causing this ?

this is what I see in the logs:

2020-01-27 22:32:12.471 T:4063239616   ERROR: Previous line repeats 2 times.
2020-01-27 22:32:12.471 T:4063239616 WARNING: Skin has invalid include:
2020-01-27 22:32:15.969 T:4063239616 WARNING: Previous l

[2020-03-13 13:50] base08 opened #6 "Not an issue but a request/challenge regarding the possibility of zapping"
As the title suggests this is a request for an implementation of a zapping system with the use of previous or next buttons (like you would change a video on a playlist). Is this possible?

[2020-03-27 21:52] Rphil29 opened #7 "Play Sports 1080p"
Hello, is it possible to broadcast the channels of Play Sports in 1080p instead of the current 720p? I know Telenet changed the stream quality of those channels from 720p to 1080p (on their website and app) so maybe this can be an update for the plugin?

[2020-05-05 12:34] shycoderX commented on #7
This is due to the settings in InputStream Adaptive. For testing disable automatic stream selection in inputstream adaptive plugin settings. You should then be able to see the 1080p option.

If you want to keep automatic stream selection and always pick the highest bitrate. You need to change the minimum bitrate value in there as well.

[2020-05-05 12:36] shycoderX commented on #6
I'll look into it when I have some time. In the meantime feel free to do a PR if you come up with a solution yourself :)

[2020-05-07 22:19] base08 commented on #6
This seems to be shaping up as an amazing way to solve it...

[2020-05-17 22:22] dagwieers opened #8 "Have a proper repository for Yelo add-on"
It would be nice if the Yelo add-on had a separate repository that only hosted the add-on (and not everything from repo-plugins and those branches).

It would help for others to contribute, and it helps to get e.g. unit testing integrated as well. Things that are not allowed in repo-plugins.

It would also be useful for people to test out the latest changes by simply downloading the ZIP from GitHu

[2020-05-22 10:37] shycoderX commented on #6
Version 1.0.0 does now support iptv manager. Remember to login first as you used to before using iptvmanager.

[2020-05-22 13:17] michaelarnauts commented on #8
This is done now!

-> https://github.com/add-ons/plugin.video.yelo

[2020-05-22 13:17] #8 closed

[2020-05-22 13:42] dagwieers commented on #8
Fantastic! I would like to add the sanity and integration tests we use for other add-ons.

[2020-05-23 11:01] shycoderX opened #11 "Improve speed loading channel list"
Loading EPG data alongside the channel information should go faster. This doesn't really seem to be an issue on faster devices, but is on slower ones for example an RPI3.

[2020-05-23 11:25] shycoderX commented on #11
Probably caused because of using "schedule-day" instead of schedule-time like in pre v1.0.0.

This change was made because iptvmanager needs the schedule for the whole day. But when listing channels from the add on itself , not the daily shedule needs to be fetched.

Because these files are larger, this explains the longer delay before the list is eventually loaded.

[2020-05-24 20:14] piejanssens commented on #7
My settings for max resolutions including 1080p:

### Yelo add-on
- max bandwith 0

### Inputstream adaptive add-on

- min bandwidth 0
- max bandwidth 0
- stream selection: auto

I was going to question the value of having the bandwidth setting inside of Yelo itself, but I see it's going to be removed in 1.0. 👍

[2020-05-24 20:40] piejanssens commented on #5
This is (very) likely unrelated to this add-on. Report this (with full debug logs) to the distro you are using (Libreelec?) instead.

[2020-05-25 00:39] dagwieers opened #14 "Various channels not working"
From my testing (using Kodi or the testing framework from #10), the following 12 channels (out of 71 Play live channels) appear not to work:
- **Discovery World** → */play/id/discoverywo*
- **Discovery ID** → */play/id/discoveryid*
- **Discovery Science** → */play/id/discoverysci*
- **History** → */play/id/history*
- **Nat Geo Wild** → */play/id/natgeowild*
- **Extreme Sports** → */play/id/extreme

[2020-05-25 00:51] dagwieers commented on #5
Eurosport HD and Eurosport 2 HD are both working fine here on LibreELEC v9.2.1 on RPi3 using IA v2.4.5.

[2020-05-25 00:55] dagwieers commented on #11
It takes almost 30 seconds for the add-on to show the 71 channels listing.
12 of these channels do not even work (see #14)

[2020-05-25 20:30] shycoderX commented on #14
Please provide request logging with something like Fiddler. I do not have these channels as they are premium ones so I can't test for myself.

[2020-05-25 20:39] dagwieers commented on #14
This is a "Play" subscription.

[2020-05-25 21:51] shycoderX commented on #14
Well I don't have these. If you look at your data.json (stored somewhere in application data) you'll find entitlements these ids are important as they specify which channels you are allowed to watch.

Are you sure you are able to view these channels on yelo.be? If you aren't than there is some bug somewhere in the listing and you shouldn't be able to see them in the first place.

If you are able t

[2020-05-25 23:35] dagwieers commented on #14
Yes, they are listed and they work in my browser.

[2020-05-28 22:22] base08 commented on #5
I have the same problem with a CoreELEC setup. This has to do with something related to the hardware amlogic decoding method. In order to fix temporarily this problem you can go to the kodi settings > player > videos > Allow hardware acceleration - amcodec > off

[2020-05-31 18:15] Bosken85 opened #16 "Tv media box from telenet uses new version of play."
First of all, much gratitude for investing the time to make this. I was wondering, are there any plans of supporting the new yelo play website from telenet? I have their new media box which prevents me from using yelo play. They always redirect me to their new online play portal.

[2020-06-04 07:06] Jolle99 opened #20 "Yelo Play not working on Kodi abroad"
Hello, since yesterday the Yelo Play app doesn't work anymore on Kodi 18.6.
It just keeps loading it seems. Same issue on Kodi 18.6 on different devices (Macbook, Nvidia Shield and Xiaomi box).
Sometimes (not always) it complains about wrong credentials, but I'm sure that the credentials are correct as I used them on a browser as well. In the browser, it also asks for a "are you not a robot" check

[2020-06-04 12:23] dagwieers commented on #20
It is still working fine for me. Could this be related to #16 ?

[2020-06-04 12:29] Jolle99 commented on #20
Hello,
Don't think so, as this is related to the new box from Telenet. We still have just the white modem/router (since last year April), no digibox at all, just the C+ module. It always worked until yesterday or the day before.

Best regards,

J.

[2020-06-04 14:09] dagwieers commented on #20
Ok, I just verified. If you run the master branch this issue appears to be fixed.
@Jolle99 Can you try the master branch?

@jelly We probably should publish v1.0.0, or maybe include the latest commit into a new v1.0.1 release?

[2020-06-05 06:19] Jolle99 commented on #20
Hello, thanks for the fast updates, much appreciated.
Is there an automatic update available? If not, can you explain how to update manually please?

Thanks!

J.

[2020-06-05 10:13] dagwieers commented on #20
@Jolle99 We have this documented for the VRT NU add-on here:
https://github.com/add-ons/plugin.video.vrt.nu/wiki/Updating#running-the-latest-development-branch-master-branch

[2020-06-05 10:28] Jolle99 commented on #20
Hello Dag,
I just installed the 1.0.0  but it's not working either. The "live stream" option doesn't show. It only shows the three dots.

J.

[2020-06-07 15:04] fripsy commented on #20
Exactly the same problem as Jolle99 here, got the "Check credentials" message with v0.0.9, update from the master to v1.0.0 and now only have the 2 dots, no channel list... this is on a RPi 4 running LibreElec with Kodi 18.6.
On another device running Ubuntu 18.04 with Kodi 18.7, I still have the same error with v1.0.0 as with v0.0.9: Aanmelden mislukt.
The only error in the log is:
`ERROR: /home/

[2020-06-09 07:59] Jolle99 commented on #20
On my Nvidia Shield box - Kodi 18.6, the Yelo v1.0.0. worked yesterday evening. It did NOT work on my Mac, Kodi 18.7 and Yelo v1.0.0. Didn't have time yet to test is on my Xiaomi Box.

[2020-06-09 09:56] dagwieers commented on #20
I updated to Kodi v18.7 (LibreELEC v9.2.3) on my RPi and Yelo is still working as before.

I noticed that the Yelo add-on stores a `data.json` with a token, which is usually generated at login. I removed that file, and it generated it a new one on the next login. So at least for me the login process works fine without captcha as-is.

[2020-06-09 11:52] Jolle99 commented on #20
Tried again, Yelo only works on Nvidia Shield, not working on Mac, not working on Xiaomi. All three with Yelo v1.0.0 (installed add-on via zip-file)

[2020-06-09 18:09] fripsy commented on #20
Well, I've been investigating a little more...
I added some logging to the code and I can see that **def _login(self)** is returning **https://login.prd.telenet.be/openid/login?authentication_error=true**, this clearly means the login has failed.
The url returned above displays a page with the (in)famous **reCaptcha**...
After examining what is happening in a browser when you login, I noticed a bu

[2020-06-10 07:06] Jolle99 commented on #20
I rebooted my (working) Nvidia before reading Fripsy's update and Yelo still seems to be working.
But would need to have this working on my Xiaomi Box as well...

[2020-06-10 08:22] fripsy commented on #20
Hmm, there goes my theory....

[2020-06-11 09:03] fripsy commented on #20
Got it working on LibreElec now!
At first it wasn't working, I just got the 2 dots.
If I compared the files in .kodi/userdata/addon_data/plugin.video.yelo, there were a bunch of files probably left there from the previous version, I deleted them, restarted Yelo and... TADA !
It is working now with XML Simple IPTV and the guide...
But...
Some channels refuse to display, these channels, when opened

[2020-06-11 09:13] fripsy commented on #14
I'm having the same issue, here is what I found:
If you open those channels in a browser which hasn't been registered as a known device with telenet, you are redirected to a page asking to register your device.
Because the Kodi device isn't registered and has no means to ask you to register, those channels are not started.
In my search in solving the login problem, I noticed a "register device" ro

[2020-06-11 09:17] fripsy commented on #20
### Final conclusion:
If you get the 2 dots instead of the channel list, Kodi can not login at yeloplay.
If you are positive that your credentials are correct and you have an internet connection, **check your public IP address, this has to be in Belgium!**
If it is not, install a VPN with a Belgian IP.

[2020-06-11 09:19] Jolle99 commented on #20
That's not the case for me. With VPN it works on Nvidia, but not on Mac nor Xiaomi. All three with the latest Yelo version v1.0.0, Kodi 18.6 and 18.7 tested.

[2020-06-11 09:38] fripsy commented on #20
My vpn only allows 1 connection at the time, perhaps yours does too?

[2020-06-11 10:32] dagwieers commented on #20
I have not looked into this myself, but various content providers forbid the use of their services in their Terms of Use outside of a specific region where they have licensed the content. IIANM the EU mandates services to remain working within the EU, so this is mostly a problem outside of the EU.

A violation of the Terms of Use is a personal and wilful act.

[2020-06-11 10:49] fripsy commented on #20
@dagwieers Yes this is true, however I'm in France and, although they are bit... french, it is still a part of Europe...
So I can watch Yelo perfectly in a browser, even without vpn, after I solve the reCaptCha.
So if this addon is used in Europe without a Belgian vpn, it won't work because it can't get passed the reCaptCha. If a Belgian vpn is used, there is no reCaptCha thus the addon works.
Thi

[2020-06-11 11:24] dagwieers commented on #20
@fripsy I did not want to go into individual cases. My remark was mostly intended for readers passing by .

[2020-06-11 14:57] fripsy commented on #14
Some further details:
The response from **def _start_stream** is 403, which means **not authorized**.
A json is returned with:
- resultCode: DEVICE_AUTHORIZATION_REQUIRED
- authorisedDevices: 2
- allowedDevices: 5

In my case, I have already 2 devices registered, and 3 more devices left.

The **device_id** is tied in with the **idToken**, **refreshToken** and the **accessToken**, so replacing the

[2020-06-16 18:06] shycoderX commented on #14
Unfortunately this is something I can't reproduce because I don't have these channels myself in my subscription. All the channels work that are available to me without registering my device.

If someone could maybe lend his credentials (but I guess not a lot of people would want to because of obvious reasons) I could reproduce and probably fix the issue.

If you want to investigate yourself and ma

[2020-06-16 20:31] fripsy commented on #14
I already started reverse engineering the API calls, unfortunately things are going to be hectic over here for the next month, so I don't know how much time I can spend on it over the next few weeks.

I will keep you (and everyone else) posted in this thread of my progress.

[2020-06-16 21:41] fripsy commented on #14
I thought I would spend some time on it this evening, and, it was way more easy than I had imagined!!!
**IT WORKS !**
I have all channels behind the "Register Device" working.
The app will register itself as a device titled "YeloPlay"

I will test it a little further.
@shycoderX How do I get the changed code to you? Only 2 files are changed.

[2020-06-23 05:17] timtilburgs commented on #20
@fripsy
How do you setup the yelo channels in simple iptv, can you publish your xml file?

[2020-06-26 20:54] shycoderX commented on #16
Is this the new Yelo version only certain subscriptions can see? If you want me to take a look at this then please provide a Fiddler / Chrome Trace

[2020-06-26 20:55] #7 closed

[2020-06-28 01:04] #6 closed

[2020-06-28 15:27] dagwieers commented on #7
Being able to set the bandwidth inside Yelo is useful to be able to select the quality on a per-addon (per-source) basis.

If you only have one selection in Kodi, you cannot really set the quality, because the bandwidth/quality relation is different for different sources as it depends on the encoding.

[2020-06-28 16:50] fripsy commented on #20
@timtilburgs
Sorry for the late replay, I'm abroad for the moment so can't check my system.
But, it should all be automatic, from the top of my head:
- install Yeloplay app
- install iptv-manager
- install simple iptv
- configure YeloPlay app
- run the YeloPlay app from addons, verify all is working
- open iptv manager and let iptv manager configure simple iptv
After that, the channels on YeloPlay

[2020-07-06 13:00] Bosken85 commented on #16
It is indeed telenet's new version of their online tv. The old one is hosted under https://www.yeloplay.be/ but the new one is hosted on https://www.telenettv.be . People like me with their latest streaming box are automatically switched to this new platform and are prevented from using the old api. ( lame! :) ) I will see how i can go about providing this trace you need.

[2020-07-10 13:37] shycoderX commented on #20
I just tried with Express VPN connected to US and France. When connected to France I do not experience any issues trying to watch the channel, so no reCaptCha.. In the US on the other hand I get the "You can only watch TV via tv-app in the EU.

Is this only with specific channels?

[2020-07-10 13:42] shycoderX commented on #16
Yes, I would take a look but without a trace I can't reverse engineer the API calls, and with my current subscription I can't access the new site. I have only access to the old site.

[2020-07-10 13:46] shycoderX commented on #5
This seems hardware / Kodi related. Nothing I can't control myself.

[2020-07-10 13:46] #5 closed

[2020-07-10 13:58] shycoderX commented on #14
@fripsy this has already been merged by @dagwieers but since I had time to take a look at the code I still have some questions.

If you follow the trace via Fiddler or Chrome when does /device/authorize get called? Is it actually before /stream/start like it has been coded now?

Also could you show me the data returned from a failed request, I would like to take a look at the

[2020-07-10 16:31] fripsy commented on #16
Same here, I don't have access (yet) to the new site either...

[2020-07-10 16:38] fripsy commented on #20
@shycoderX

Indeed, this is only with specific channels, some channels work from within the EU without a vpn, for other a Belgian vpn is needed.
For example, TF1 does not work over here without a Belgian vpn.

I guess this has to do with the rights Telenet has for diffusing the station.

[2020-07-10 16:48] fripsy commented on #14
@shycoderX
If you try to start a stream from the Play Subscription, and the device is not registered with Telenet, a 403 error is returned. The JSON in the return response contains the number of devices already registered and the maximum devices allowed to register.

So the device registration is started after the request for the stream, after registration, we have to start the stream again.

By "

[2020-07-10 18:21] shycoderX commented on #14
Yes the message returned with the 403 HTTP status code. I'm not able to reproduce this because for some reason I've never been asked to register my device.

[2020-07-10 19:00] shycoderX commented on #20
Yes you are right, but some of the later code changes has broken the message box showing you the reason why it couldn't play the stream.

[https://imgur.com/iclaCXu](url)

[2020-07-11 15:36] fripsy commented on #14
I replaced the `deviceid` with xxx

**The url**

`https://api.yeloplay.be/api/v1/stream/start`

**The request**

`{"meta":{"schema":"stream/Stream.json","version":"4.1"},"stream":{"deviceId":"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx","resource":{"watchMode":"Live","links":{"tvChannel":"discoverywo"},"timeShiftOffset":0},"context":"Watch-TV","platform":"Web","drmMethod":"WIDEVINE","protocol":"DASH"}}`

[2020-07-11 16:00] fripsy commented on #20
**The url**

`https://api.yeloplay.be/api/v1/stream/start`

**The request**

`{"meta":{"schema":"stream/Stream.json","version":"4.1"},"stream":{"deviceId":"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx","resource":{"watchMode":"Live","links":{"tvChannel":"bloomberg"},"timeShiftOffset":0},"context":"Watch-TV","platform":"Web","drmMethod":"WIDEVINE","protocol":"DASH"}}`

**The response**

`Status: 403`

`{

[2020-07-28 15:14] fripsy opened #24 "Bug / Typo in yelo_api.py"
On line 257:

`return self._register_device()`

shouldn't that be:

`return self._device_authorize()`

[2020-08-05 11:41] #24 closed

[2020-08-24 11:32] LuccaBorsellino commented on #16
I can supply you an account if you want to

[2020-09-12 08:35] peno64 commented on #20
Just want to add something to this for people also having the issue that the addon says "check your credentials".
yelo play didn't work here either anymore, whatever I tried (uninstall completely, install from kodi repo, install latest version from here), nothing worked. It was some time ago that I used the addon. Then I came across this thread and I read about being abroad and vpn. Well I am in B

[2020-09-20 18:06] Soulplayer opened #25 "Question- iptvmanager extension"
I cannot seem to find the option to enable the iptvmanager extension with this addon? I use VTM Go, VRT nu and so on. They all have to option to enable it. But in this plugin I cannot find it. Any suggestions?

[2020-09-20 18:09] #25 closed

[2020-09-20 18:09] Soulplayer commented on #25
Manualy downloaded version 1 instead of the 0.9 in the kodi repo. This fixed it.

[2020-10-04 18:07] Inloggedoe commented on #20
Hi peno64
I have exactly this problem, but I will not return to Belgium in the next months as i'm in Africa for a few months. So  I have my Telenet subscription and Nordvpn, set on Belgium, but could only login once. The next day my credentials were wrong... which of course is not correct as I can still login on the iPad, but not when using the firestick and kodi. Any suggestion or solution for th

[2020-10-04 21:52] peno64 commented on #20
@Inloggedoe
telenet most probably can detect dat you are connected via a vpn  and doesn't like this. Probably they have a list of known vpn providers and block all these. So the only way I see how to solve this is connect with an unknown vpn to telenet to Belgium.
I for example have a vpn on my router and can connect from anywhere to that vpn and then the connected device acts as if I am at home.

[2020-10-05 04:26] Inloggedoe commented on #20
I have a separate router as well with Nordvpn  on it, but it’s still on its way as some luggage was delayed. I hope to see it in a few weeks and will definitely test this out. However what would be the difference with a vpn on a router and a vpn on the firestick for telenet?

[2020-10-05 06:59] peno64 commented on #20
Well but I don't mean that the router uses a vpn like nordvpn because then you will have the same problem. I mean that the router is a vpn provider to your own network. So from abroad you connect to the vpn of the router and then your abroad computer thinks and acts as he is at home. The internet will then also be as if it is connected to the telenet internet and not the one from abroad.
With nord

[2020-10-23 10:52] piejanssens opened #26 "New release - iptv manager"
Could there be a new release submitted to the Kodi repo now that IPTV Manager is released on the repo?

@dagwieers @michaelarnauts @shycoderX

[2020-10-23 10:56] dagwieers commented on #26
Yes, that was always the intention.
Let me check this weekend if there's anything we still need to do.

Thanks for reminding me.

[2020-10-23 19:05] dagwieers opened #27 "Missing VOD support"
It would be nice if this add-on has support for VOD content. And maybe even recorded content.

[2020-10-26 19:17] Inloggedoe commented on #20
Hi

I am not that tech savvy to fully understand what you mean with your answer.

I can install a router in Belgium with a VPN on it, but how do I connect
from abroad to that specific router? (But probably this is not what you
wanted to explain me)

But another option I guess, and for me probably easier,  is to buy a
dedicated EU IP with NordVPN and than use that one on the firestick.

Or you thin

[2020-10-27 20:45] maanwater opened #28 "Login failed error since a week"
Hello

I've been using this addon for several months now, but since somewhere last week I can no longer open the addon. Instead I am welcomed with a Login failed error message - while my logon details are still the same (loggin onto yeloplay.be still works).

[edit: I am using Kodi on Libreelec 9.2.4]

Any idea what could be causing this sudden behaviour?

I checked the logs and found this error:

[2020-10-27 20:46] dagwieers commented on #28
That error you are seeing is not related to your problem. It is something we ought to fix, but harmless in itself.

[2020-10-27 20:47] dagwieers commented on #28
We would need a Kodi debug log in order to understand what is going on.

[2020-10-27 20:51] maanwater commented on #28
I hope this is what you need: http://paste.kodi.tv/ariturahav

[2020-10-27 21:51] dagwieers commented on #28
I just wanted to add that the issue was indeed related to data.json not being available. (Which in itself is an issue, why would it have gone missing?)

But the second log does not show a real error I can relate to. Maybe restarting Kodi has an effect?

[2020-10-28 21:32] maanwater commented on #28
Restarting: favourite solution :) Unfortunately no luck. Could it be related to a change in my Telenet account?

[2020-10-29 08:30] Brecht87 commented on #20
Hi,

I've been trying to use the addon these past weeks in the EU where you should be able to logon and watch. Isn't a problem usually but I do get a "login failed"; my guess is due to a pesky Captcha you have to fill in to authenticate. I don't think you get that problem in Belgium. I tried a VPN connection but the captcha still appears when trying to logon through the app - and therefore I guess

[2020-10-29 09:40] peno64 commented on #20
@Inloggedoe
I have NordVPN and when connected to that VPN, the telenet logon fails, even if I connect to a Belgium VPN. So telenet sees this also.

On my router I have dd-wrt, an open source firmware which replaces the router firmware. It has alot more functionalities than standard router firmware and one of them is to setup your router as a vpn. See following printscreen:

![image](https://user-i

[2020-10-29 09:54] Inloggedoe commented on #20
Hi,

I have the same setup on one of my old routers (NordVPN installed with
ddwrt), but that router is still somewhere on the worlds oceans, hopefully
will arrive soon and then I can try it.

So, according to you that might work, even if the router is here in Africa?
(It did for TV Vlaanderen when we were out of the EU and wanted to use the
internet facilities, like recording and see program info)

[2020-10-29 10:35] peno64 commented on #20
The router has to be in Belgium connected to a telenet internet connection...

[2020-10-29 11:22] Inloggedoe commented on #20
Hi

Thanks a lot for your reply and knowledge!

That’s what I actually thought as well, and then to work with dyndns I
suppose to get connected from here to my official home in Belgium (as this
is what I do to see the cctv from abroad).

Have to check my upload speed with Telenet then as the vpn will bring that
speed down as otherwise I will still not be able to see fluently from here.

Am wonderi

[2020-10-29 15:48] Brecht87 commented on #20
So a dedicated private vpn server would be the only solution? Seems a bit overkill for a captcha?

@dagwieers , @fripsy , thanks for a great addon that kept on working until recently - is there really no other way?

[2020-10-29 15:54] peno64 commented on #20
call it a work-around instead of a solution

[2020-10-29 16:31] Brecht87 commented on #20
The strange thing is that I can logon and load all the channels; so I actually think I get past the captcha; but when I try to start a channel I get an error. In the log report that translates to:

[code]

[2020-10-30 19:09] shycoderX commented on #28
@maanwater can you please enable debug logging? https://kodi.wiki/view/Log_file/Easy#:~:text=Enable%20the%20setting%20Enable%20debug,Shift%20%2B%20d%20on%20a%20keyboard

[2020-10-30 19:11] shycoderX commented on #27
Can you watch recorded content in the Yelo app? I thought it was only possible to stream it to your decoder from there.

[2020-10-30 21:17] piejanssens commented on #27
For some content, yes.

<img width="654" alt="Schermafbeelding 2020-10-30 om 22 16 11" src="https://user-images.githubusercontent.com/829098/97757737-9ee83c00-1afd-11eb-9968-3acf8025685b.png">

[2020-11-01 10:33] Jolle99 commented on #20
I've not followed this topic for a while, but I can confirm one of the above statements.
I'm outside the EU and I couldn't login to the Yelo add-on (check credentials error), although I was on a ExpressVPN connection with a Belgian IP.
However, I now have a VPN connection to my Telenet router in Belgium (via OpenVPN) and then I can login on the Yelo add on with Kodi, so the captcha check is passed

[2020-11-01 10:58] Inloggedoe commented on #20
Hi Jolle99

Good to see your work around actually works!

So may I ask you how you made the
‘VPN connection to my Telenet router in Belgium’

As, because of Covid, we will not return to Belgium very soon, I was
wondering the correct way to achieve this.

1/ Does the original Telenet router work with a vpn, so can you put
openvpn/NordVPN/... easily on that router or did you connect a separate
route

[2020-11-01 11:12] Jolle99 commented on #20
Not sure if this is the right topic for that but I have a Raspberry PI connected to the Telenet router and run a VPN on that device. Configuration can be done with this process (it's Dutch but there must be English versions online as well):
https://raspberrytips.nl/pivpn-de-eenvoudige-manier-om-openvpn-te-installeren/

[2020-11-01 12:41] peno64 commented on #20
@Jolle99 Is indeed also a possibility. Has the  same effect as having a vpn on the router as I described.

[2020-11-01 12:46] peno64 commented on #20
@Inloggedoe It  is for sure not  possible to put a vpn on the telenet router itself. We are not allowed to change much settings of the telenet router and this via the telenet webpages. I use a separate router next to the telenet router. In fact I use that router only to provide me internet and connect it to the digibox (because telenet only allows a direct internet connection to the digibox from t

[2020-11-01 13:21] Inloggedoe commented on #20
@peno64

So, as a resume you have done following:

- ddwrt on own router
- add NordVPN credentials to it
- added dynamic dns (
https://www.howtogeek.com/66438/how-to-easily-access-your-home-network-from-anywhere-with-ddns/)
to the ddwrt setup
- connect it to Telenet router

-> done: access from everywhere to your home  network

Correct?

Op zo 1 nov. 2020 om 15:46 schreef peno64 <notifications@git

[2020-11-01 13:32] peno64 commented on #20
@Inloggedoe No totally
- ddwrt on the router and configure ddwrt that itself acts as a vpn and indded added a dynamic dns.
No other vpn service involved because then it will not work. the addon must see telenet and that is done via the vpn on the router, not via a 3rd party vpn which connects to another kond of internet.

[2020-11-01 13:55] Inloggedoe commented on #20
Ok, got it! Thanks a lot for the whole explanation.

Unfortunately it will take a while before I’m back in Belgium due to the
Covid restrictions before I can set it up at my own house.

Hopefully the current Kodi add on might be working again before ;)

If not, I definitely try this work around!

Cheers

Op zo 1 nov. 2020 om 16:32 schreef peno64 <notifications@github.com>

[2020-11-01 15:59] peno64 commented on #20
I think the biggest problem will be that yelo will not be there anymore for a long time.
The new telenet digiboxes use another system *and* another app for which even no kodi addon doesn't exist yet...

[2020-11-01 16:10] Inloggedoe commented on #20
Than it will be streaming from iPhone/iPad through Apple TV or Airplay 2...
or a hdmi from laptop to tv or a new Kodi addon!

Op zo 1 nov. 2020 om 18:59 schreef peno64 <notifications@github.com>

[2020-11-01 16:36] Jolle99 commented on #20
Where has that been announced? I'd love to have an AppleTV/AndroidTV app for Yelo. Although the Kodi add-on is a great alternative for now.

[2020-11-01 16:53] peno64 commented on #20
Is niet niet echt aangekondigd maar zoals je oa op https://www2.telenet.be/nl/klantenservice/yelo-app-downloaden/ kan zien is er nu naast de yelo app ook een telenet tv app en deze is enkel voor de laatste digicorders. Telenet kennende zullen ze dus die oude yelo app niet all te lang meer onderhouden en de vraag is dan maar als de nieuw tv app dan ook nog de oude digicoders zal supporteren. Nu in

[2020-11-01 19:25] vossim commented on #26
Any update on this?

[2020-11-02 02:10] dagwieers commented on #26
@vossim I proposed a release workflow now to @shycoderX, after this if there are no outstanding issues, I think we can release.

[2020-11-02 02:44] dagwieers commented on #27
With Telenet TV to be the successor, any effort on this in the Yelo add-on may be better spent on a Telenet TV add-on.

But this mostly depends on the availability of the contributors :-/ Anyone working on this may find themselves unable to contribute more when their Telenet decoder is replaced by a newer model.

[2020-11-02 06:28] piejanssens commented on #27
Is it known/announced that current Yelo Play users will be able to use Telenet TV? When?

[2020-11-02 10:01] dagwieers commented on #27
You need to have a new digicorder. Users are being migrated.

I have no insight in when they expect to have this finished, or how far this transition already is. Usually replacing the digicorder is a multi-year effort and often it is driven by defect digicorders, nudging by Telenet Support and new functionality only being available on the newer devices (so when your contract changes this may be im

[2020-11-03 14:16] shycoderX commented on #27
If anyone could supply me an account for Telenet TV I could take a look at it and keep things separate meaning a new project for a Telenet TV add on

[2020-11-07 16:54] emversch commented on #26
Any updates? Latest version on Kodi is still 0.0.9. Devs of IPTV said 1.0.0 is supported but not 0.0.9

[2020-11-07 16:56] dagwieers commented on #26
Only @shycoderX can release to the Kodi repository.

[2020-11-22 10:01] Forceflow opened #32 "Kodi 19 compatibility"
This is probably known, but the standard Android TV version of Kodi has switched to 19.0 beta, and the Yelo TV app stops working after the automatic upgrade. It stays in an "installed" state, but is automatically disabled.

I don't know if it's a compatibility issue, or just a flag that needs to be switched. Similar add-ons like VRTnu or VTMGo (which depends on adaptive-inputstream as well) seem t

[2020-11-22 12:50] michaelarnauts commented on #32
@Forceflow I think the code itself is compatible with Kodi 19, but you'll need to modify the `addons.xml` file so the `xbmc.python` is `3.0.0`, like this:

        <import addon="xbmc.python" version="3.0.0"/>

I don't have a Telenet account, so I can't really test this though. This could be easily fixed by using the release workflow from #30 so the right zip-files are made automatically.

[2020-11-22 12:51] michaelarnauts commented on #26
@shycoderX would you mind looking at #30 and #31 so a new release with these fixes can be pushed to the repository?

[2020-11-22 16:33] dagwieers commented on #32
This is a duplicate of #26 but from a different perspective ;-)

[2020-11-22 16:33] #32 closed

[2020-11-22 16:35] dagwieers commented on #26
Now that Kodi v19 Beta has been released this is indeed impacting users that (automatically) were updated to Kodi v19. (e.g. if you are a Kodi Android beta user like me and @Forceflow).

[2020-11-22 16:54] dagwieers commented on #11
I think this is fixed now, at least I do not longer have this issue with the master branch.

[2020-11-28 14:56] shycoderX commented on #26
Both are now approved!

[2020-11-28 14:58] #26 closed

[2020-11-28 15:11] shycoderX opened #33 "Broken on Kodi Matrix"
Playback doesn't work due to:  **ERROR <general>: CVideoPlayer::OpenDemuxStream - Error creating demuxer**
[code]

[2020-11-28 15:31] shycoderX commented on #33
Issue was the following:

[code]

[2020-11-28 15:31] #33 closed

[2020-12-06 17:44] Milli-Maci opened #34 "Stopping working since 1.0.1"
Has always worked for me. Manjaro KDE.
If I open the add-on, the usual "livestreams" (if I remember the naming correctly) doesn't appear. Just blank. No errors.

[2020-12-06 17:55] piejanssens commented on #34
Please provide debug logs.

[2020-12-06 20:10] Milli-Maci commented on #34
https://pastebin.com/embed_js/6G0RcEwD

[2020-12-06 21:23] mawn144 commented on #34
Same problem here. no more livestreams folder available. Watching this topic closely :)

[2020-12-07 20:19] mawn144 commented on #34
Reinstall fixed it for me

[2020-12-07 20:57] aGreatDay commented on #34
Can confirm, reinstall with wipe of settings resolves it for me too

[2020-12-07 20:59] Milli-Maci commented on #34
Reinstall worked for me too

[2020-12-08 07:55] piejanssens commented on #34
Thanks for reporting. Please keep the issue open. To fix this permanently some logic needs to be build in to support structural changes in the cache file `data.json`.

[2020-12-13 13:37] shycoderX opened #35 "Telenet TV compatibility"
I want to either create a seperate add on for Telenet TV or try to merge them into one add-on. Can someone supply me a request trace either using Chrome Devtools or something like Fiddler. I don't need your credentials (I even prefer not knowing them) so you can remove that from the trace.

The reason I need the trace to begin with is to see what requests an authenticated client does to be able to

[2020-12-16 07:40] Luboli commented on #35
Someone made a plugin for Ziggo Go TV, which is based on the same Horizon TV platform, it may be of use to you
https://github.com/dut-iptv/dut-iptv.github.io/tree/master/leia/plugin.video.ziggo

Here's the request for VTM:
[code]

[2020-12-16 18:50] shycoderX commented on #35
Thank you I tried requesting a DASH manifest this way:
[code]

but that didn't work (probably because my telenet account doesn't allow it).

Could you provide a Fiddler trace using https://www.telerik.com/download/fiddler/fiddler4 just save the trace and send it to me if you want. You can remove the entry where the login information is posted to the server in that trace. It it important I can see

[2020-12-16 20:43] dagwieers commented on #35
There is an opportunity here to collaborate on a common platform for both add-ons. We would like to do the same thing for tvvlaanderen, which supports about 15 different setups in Europa.

[2020-12-18 16:46] Luboli commented on #35
I'll send you an email with the file, as it's almost impossible to remove the private information.

[2020-12-21 23:55] shycoderX commented on #35
@dagwieers @Luboli

Dankzij @Luboli is het gelukt om een Kodi Addon op te bouwen, helaas zit ik nog met één probleem en dat is waar ik ook een tijdje vastzat bij de Yelo add on.. en dat is terug het onderhandelen de widevine licentie onderhandelen met de server. Ik krijg nu telkens

`[{"type":"state","code":"concurrency","reason":"invalid"}]`

Ik heb **https://obo-prod.oesp.telenettv.be/oesp/v4/BE

[2020-12-22 07:25] michaelarnauts commented on #35
Die concurrency doet me eerder denken dat er misschien al een stream speelt (bij @luboli?), en dat je maar een maximum aantal streams kan bekijken? Of misschien zit er een beveiliging op waarbij je enkel vanaf een Telenet-verbinding kan kijken?

Die data van de license is altijd binair, da's iets dat de widevine Library IA zelf ophaalt, en waar de Addon dus zelf niets mee moet doen.

[2020-12-22 07:32] Luboli commented on #35
Er speelde inderdaad een stream af, kan je zien in de trace.
Bij TelenetTV is het zo dat elk toestal apart geregisteerd moet worden, ik weet niet of dat ook bij YeloTV moest en dat daar misschien het probleem zit.

[2020-12-22 10:42] shycoderX commented on #35
Ja maar als ik kijk in de trace van @Luboli en dat vergelijk met wat er wordt verstuurd naar de license server vanuit de add on is dat totaal verschillend.

[2020-12-22 10:43] Luboli commented on #35
Ik zal eens een trace doen met de android app, zien of dat verschillend is

[2020-12-22 10:44] shycoderX commented on #35
Zou goed kunnen dat het device moet geregistreerd worden vooraleer ik een stream kan startten. Maar dan moet ik ook eerst weer het API endpoint kunnen achterhalen (en de nodige data naar dat endpoint) want deze zijn allemaal verschillend van Yelo Play.

[2020-12-22 10:58] Luboli commented on #35
Sinds android 7 is het onmogelijk om https trafiek te decrypteren met een proxy, dus het zal niet lukken

[2020-12-22 11:33] shycoderX commented on #35
Ok, lijkt mij het proberen waard.

[2020-12-22 11:45] shycoderX commented on #35
Even ter info:

Bij de HTTP POST naar https://obo-prod.oesp.telenettv.be/oesp/v4/BE/nld/web/license/token geef je een deviceId mee. Ik had deze overgenomen van de trace, maar als je deze wijzigt krijg je volgende als response, kan dus inderdaad zijn dat die concurrency fout dan komt dat hij misschien door heeft dat er vanuit twee verschillende IP adressen gebruik wordt gemaakt van dezelfde device

[2020-12-22 11:57] Luboli commented on #35
Email is verzonden met login informatie

[2020-12-22 14:08] shycoderX commented on #35
@Luboli @dagwieers @michaelarnauts

Heb zelf eens Fiddler opengezet en via een stream gestart via de Telenet TV web interface. Daarna heb ik via Fiddler het request body van de https://obo-prod.oesp.telenettv.be/oesp/v4/BE/nld/web/license/eme call opgeslaan als binary.

De headers en de binary heb ik even a.d.h.v. **Postman** opnieuw gepost maar het vreemde is, dat deze data mij identiek lijken nu

[2021-01-05 21:50] Rphil29 opened #36 "TV-gids refresht niet automatisch"
Ik gebruik Yelo in combinatie met IPTV manager. Ik heb Kodi zo ingesteld dat ik bij het opstarten onmiddellijk naar de tv gids ga, maar de tv gids van Yelo refresht niet automatisch. Andere addons zoals Vrt Nu of Vier-Vijf-Zes doen dat wel. De tv gids van Yelo blijft altijd hangen op 4u 's morgens. Ik kan dan niet vooruit of achteruit gaan in de tv gids. Als ik naar de groep van bijvoorbeeld Vrt N

[2021-01-07 02:41] dagwieers commented on #14
I no longer have these 12 channels listed in Yelo.

[2021-01-11 14:39] michaelarnauts commented on #36
@Rphil29 klopt. als ik juist ben is dit wel ondertussen gefixt in de laatste master branch. Het probleem was dat er maar een EPG werd opgehaald voor de huidige dag, en als IPTV Manager maar om de 24u refresht, ga je altijd een window hebben zonder gids-data.

Via deze zip zou het wel moeten werken: https://github.com/add-ons/plugin.video.yelo/archive/master.zip

[2021-01-22 15:51] Duriauke commented on #36
Ik heb sinds kort de yelo app , en iptvmanager gedownload via kodi. Nu had ik na 1 dag het probleem dat ik mijn tvgids niet meer verder als 5 u'smorgens kon raadplegen. Heb in een onderstaand bericht op deze pagina gezien dat er een zipfile was die dit probleem zou oplossen. Helaas constateer ik na het downloaden hiervan nog steeds hetzelfde probleem. Kunnen jullie me verder opweg helpen om dit pr

[2021-01-22 18:47] peno64 commented on #36
@Duriauke Zie het bericht van @michaelarnauts van hierboven. Het is niet voldoende om de yelo app via kodi te downloaden om dit te fixen. Je moet  de ontwikkelversie van de yelo addon downloaden (https://github.com/add-ons/plugin.video.yelo/archive/master.zip) en installeren zodat de tv gids over een langere periode van 24 uur wordt opgehaald.

[2021-01-22 22:42] dagwieers commented on #36
Tijd om een nieuwe release te doen als meer gebruikers er last van hebben?

[2021-01-22 23:07] peno64 commented on #36
Ik zou zeggen ja. De laatste week heb ik niet meer gehad dat de gids leeg is.

[2021-02-01 10:55] base08 commented on #36
De laatste commit van 1.0.1 heeft de probleem van de lege gids opgelost! 👍🏻

[2021-03-08 17:31] dagwieers commented on #14
Do we still have an issue that was not fixed yet? If so, please open a new ticket for this.
The original reported issue is closed for me.

[2021-03-08 17:31] #14 closed

[2021-03-24 21:13] maanwater commented on #28
The latest update resolves this issue for me. So thank you very much for the continuous development.

[2021-03-24 21:13] #28 closed

[2021-04-06 08:56] piejanssens opened #42 "What is Yelo doing here every 10s?"
These log messages repeat every 10 seconds, forever.

[code]

[2021-04-06 09:18] piejanssens commented on #42
It's not Yelo, it's Kodi: https://github.com/xbmc/xbmc/pull/17822

[2021-04-06 09:20] #42 closed, assigned to nobody

[2021-04-06 13:34] dagwieers commented on #42
Yes, this confused me once in the past as well. One of the reasons I think Debug logging is not very useful, a lot of error messages that are not actual errors :-(

[2021-04-06 23:39] dagwieers commented on #36
Ik denk dat we dit issue kunnen afsluiten. Bedankt allemaal!

[2021-04-06 23:39] #36 closed

[2021-05-23 09:07] ValentijnDemeyer opened #43 "solved: Login failed"
Hi,
When trying to launch the app I get an error "Login failed, Please check your login details."
The error is reproducing on KODI 18.9 (libreelec RPI 4) en KODI 19 (Windows 10).
Login details are correct as I can login to Yelo (https://yelo.telenet.tv/)  from a browser on the same PC.
Log file can be found here: https://paste.kodi.tv/qeyajegidu
Error:
![Knipsel](https://user-images.githubusercont

[2021-05-24 21:33] ValentijnDemeyer commented on #43
Can be deleted, solved by connecting through different ISP. Worked again afterwards.

[2021-06-14 13:25] MikeFraMa opened #44 "Yelo plugin doesn't work anymore"
Hello,
I have to report that this great plugin sadly stopped working after an update from widevine i suppose. Is there any chance this problem would be solved in the future because it was in great use for my less valid son to look his favorite programs
Thanks in advance,
Marc

[2021-06-14 15:00] dagwieers commented on #44
Most likely changes at Yelo / Telenet triggers a bug in the Yelo add-on.

[code]

[2021-06-14 15:01] #43 closed, assigned to nobody

[2021-06-21 10:25] nephews opened #45 "Yelo keeps asking for credentials"
Hi,
The Yelo plugin keeps asking for credentials, however they are definitely correct.
I am running  kodi 18.7 on Raspbian (Buster). Installed Yelo plugin from repo, this seems to be version 1.02.

What I already tried:
- Install 1.03 from zip file
- Install 1.01  from zip file
- numerous reboots / reinstalls

The log shows missing data.json (relevant part of log [kodi.log](https://github.com/add-

[2021-06-22 18:15] ValentijnDemeyer commented on #45
Hi,

I had the same issue: https://github.com/add-ons/plugin.video.yelo/issues/43

I solved it by logging in from a different internet provider. (connected through hotspot of my phone ). Then login worked from the first time. Afterwards connected back with normal internet and worked from the first time.
It seems to have something to do with how much you tried to login from Telenet side.

Regards;

[2021-06-22 18:51] nephews commented on #45
Hi Valentijn,
Thanks for the reply.
I tried it, but unfortunately no luck. Tried via hotspot on my phone and over a proxy (server on the telenet network). (also uninstalled 1.0.2, from repo,  and installed 1.0.3 from zip, same problem)
The log keeps saying the same stuff, complaining about the data.json not being present. Very strange.
Best

[2021-06-23 16:03] nephews commented on #45
Hi,
Would anybody be so nice to post their data.json file here please? (obviously without credentials :-) )
My path to the file is (should be)` .kodi/userdata/addon_data/plugin.video.yelo/data.json`
Thank you in advance

[2021-06-23 17:22] nephews commented on #45
UPDATE: I just setup the latest version of librelec on a separate sd card and booted that.
Installed Yelo plugin from repository... keeps asking for credentials. Tried via Phone hostspot as well... same problem.
Only thing in the log:
[code]
Please note that I can watch yelo in the browser and on android app without any problems...

Can anybody confirm that the plugin is currently working please?

[2021-06-23 18:05] michaelarnauts commented on #45
@nephews While I don't have any experience with this Add-on, what happens when you just try to create that data.json file (empty)? You might want to give it 777 permissions to be sure.

[2021-06-23 19:49] nephews commented on #45
Thanks @michaelarnauts I did try that, as well as put username and password in correct json format, no luck.

I did some more digging and monitored the login procedure in my browser. There, in addition to the j_username and j_password there is an extra parameter in the data sent to login.do: `g-recaptcha-response` which is, obviously, not implemented in the plugin...

Could it be that telenet impl

[2021-06-23 20:57] ValentijnDemeyer commented on #45
Hi,
similar to what I had. I also stumbled on the captha. In My case I entered to many wrong paswords (qwerty on RPI...) And because of that the captha popped up also in a browser. For me it then worked to change the network I logged in from (different IP).
Perhaps don't try to login for a few days, this might allow the login without captcha. But to be fair,  wasn't able to clearly identify what d

[2021-06-23 21:31] nephews commented on #45
Thank you Valentijn for your help.
I was thinking the same, the many tries triggered the captcha probably.
I'll try again in a few days.

[2021-07-24 06:50] FilipDem commented on #44
Hello all, I have the same issue. Is this confirmed a bug in Yelo (or change at Telenet) or a misconfiguration somewhere in Kodi at my side? Thanks for help!

[2021-08-01 20:16] piejanssens commented on #44
Same issue here. Works for you, @shycoderX?

[2021-08-05 20:34] shycoderX commented on #44
I suspect you are using version 1.0.2? That does seem to work for me at least. FYI I am planning to create a new version of the plugin with some parts of the code rewritten should make the application more stable in the future. In the meantime provide log files so I can take a look what might be wrong with the current version.

[2021-08-06 13:05] MikeFraMa commented on #44
Hello,

Hopefully I did it right, I put the logfile at [ https://paste.ubuntu.com/p/GwXH4KSFvn/ | https://paste.ubuntu.com/p/GwXH4KSFvn/ ]

Greetings,

Marc

Van: "shycoderX" ***@***.***>
Aan: "add-ons/plugin.video.yelo" ***@***.***>
Cc: "MikeFraMa" ***@***.***>, "Author" ***@***.***>
Verzonden: Donderdag 5 augustus 2021 22:34:30
Onderwerp: Re: [add-ons/plugin.video.yelo] Yelo plugin doesn't work

[2021-08-06 14:19] piejanssens commented on #44
[kodi.log](https://github.com/add-ons/plugin.video.yelo/files/6946091/kodi.log)

[2021-08-06 14:39] piejanssens commented on #44
Solved by deleting `./userdata/addon_data/plugin.video.yelo`.

Edit: you can delete all files in `./userdata/addon_data/plugin.video.yelo`, but keep settings.xml so that you don't need to re-enter your credentials.

[2021-08-06 17:14] MikeFraMa commented on #44
Thanks, it works like a thread after deleting the files piejanssens commented and this on windows ans raspberry pi system.

[2021-09-02 19:26] piejanssens commented on #35
I currently have an issue logging on, but this looks promising. If it works we should maybe adopt/contribute instead of creating yet another add-on. https://github.com/dut-iptv/dut-iptv.github.io/tree/master/matrix/plugin.video.betelenet

[2021-09-05 13:07] mantaalex opened #46 "not working anymore on all kodi versions"
not working anymore on all kodi versions
it was a very good and nice addon please have a fast fix
mostly the app isn't working sometime it does work

[2021-09-06 20:27] shycoderX commented on #35
Is this for Telenet TV only? I was busy partly rewriting my current application (when I have the time) but if this is for Yelo Play too then I don’t see the point if that application offer more functionality?

[2021-09-06 20:28] shycoderX commented on #46
Please provide logging.. Meanwhile can you try removing the addon data for Yelo Play? (Fully delete the addon with all data) I’ve seen people run into issues because of corrupted data.

[2021-09-07 07:38] piejanssens commented on #35
Yes, it seems so, but it's untested and I cannot confirm until I can actually login. Author will provide a new build with more verbose logging to figure out the issue.

[code]

https://github.com/dut-iptv/dut-iptv/issues/65

[2021-09-11 05:33] andrasj commented on #46
I had similar issues since a couple of days, I just renamed data.json to '_data.json' and all was working again... So I guess deleting this fill would be sufficient as well

[2021-09-14 13:03] mantaalex commented on #46
Hey tx for the reply even on a system with no yelo kodi installed it doesn't work with the stock software from the zip

[2021-09-14 13:04] mantaalex commented on #46
i don't know how to collect the logs etc but if more people are having trouble it would be nice if there comes a fix
i even tryed with a kodi with no yelo on and installed fresh and it doesn't open the 'streams'
while VTMgo works

[2021-09-14 13:14] mantaalex commented on #46
i tryed on 3 kodi systems
1 with kodi 18.9 2 with 19
even renaming the data.json doesn't work

[2021-09-14 13:19] mantaalex commented on #46
@shycoderX @dagwieers  i'm even willing to give access or the login to one of you coders only just to have it sorted for everyone?

[2021-09-14 14:32] mantaalex commented on #46
i think i may have a solution for me maybe it works for the others to
i'm using rpi4 on openelec i reinstalled the widevine CDM
on kodi my addons -> programs -> input stream helper
there selected the re install thing just below backups
then i renamed the data.yson to _data.yson
then i restarted kodi then after 2 try's the stream works

[2021-11-09 15:55] kverkind opened #47 "Enhancement"
Any plan to introduce "watch later"? Possible for vrt.nu

[2021-11-19 14:00] kverkind commented on #47
Duplicate with https://github.com/add-ons/plugin.video.yelo/issues/27

[2021-11-19 14:00] #47 closed, assigned to nobody

[2022-02-09 18:36] frostingclad opened #48 "Keyerror: Discovery Vlaanderen"
When trying to log in I receive this error:
for index in enumerate(epg[name]):
**KeyError: 'Discovery Vlaanderen'**

[2022-02-10 20:37] aaamoeder opened #49 "QUESTION: stream url for channel"
I'm trying to find a stream url for one of the channels so I can then try to use it inside home assistant (automatically casting to tv) , but don't know where to look.
Anyone able to help ?

PS: sorry to post this here but didn't know where else to ask...

[2022-02-15 10:33] fcools commented on #49
Well... that won't work for several reasons I think.
You need to authenticate yourself before you can start any stream, this could be done with a custom script (or addon) in HomeAssistant, but the main problem will be decoding the stream as I don't see a way to use or even install Widevine on HA.

My 2 cents.

[2022-02-15 10:55] michaelarnauts commented on #49
Correct. You might look into starting an activity that uses the official Yelo app. A bit like asking the Google assistant to play a movie on Netflix.

[2022-02-15 11:03] fcools commented on #49
Perhaps this could be of use: [https://github.com/skorokithakis/catt](url) and start it from HA.

[2022-02-15 19:19] aaamoeder commented on #49
Thanks for your replies ! I hadn't thought it would be so complicated, guess I'll have to look for a different way.

[2022-02-15 20:32] fripsy commented on #49
Is your goal having a card in HA displaying a TV stream?

[2022-02-20 14:39] aaamoeder commented on #49
yes, but also being able to start a stream cast from an automation on a chromecast

[2022-05-06 20:36] Verelek opened #50 "installing / streaming issue"
hello,

when I want to start the plugin I get an error for which I have to look in the log, below is in the log.
Can i do something about it?

Thnx

2022-05-06 22:33:55.643 T:32812   ERROR <general>: Control 55 in window 10025 has been asked to focus, but it can't
2022-05-06 22:33:55.651 T:74861    INFO <general>: initializing python engine.
2022-05-06 22:33:56.861 T:74861   ERROR <general>: EXCEP

[2022-05-07 18:03] MikeFraMa commented on #45
Yelo keeps asking for credentials now for serveral months. I tryed also with the credentials of my sun but still no succes.
I use  Libreelec 10.0.0 on a raspberry Pi4, problems started after reinstallation of the yelo app

[2022-05-08 19:25] coreflake1 opened #51 "Non of the streams are working anymore"
Hi,

I was using the Yelo plugin with success for a long time.
Now for some reason non of the streams are working anymore.

This is happening on both of my systems, (raspi3/4), one of which is a fresh install.
All other plugins that are using Widevine (VRT.NU/VTM/PLAY/NETFLIX) are working fine.

Can someone replicate this issue ?

Thanks for the help.

[2022-05-08 21:12] coreflake1 commented on #51
Testing on Kodi 19.4.
Both on ARM & WIN10, both replicate the issue.

Log from win10 machine :

2022-05-08 23:09:14.616 T:14840    INFO <general>: initializing python engine.
2022-05-08 23:09:15.968 T:14840    INFO <general>: CPythonInvoker(9, C:\Users\User\AppData\Roaming\Kodi\addons\plugin.video.yelo\resources\lib\addon_entry.py): script successfully run
2022-05-08 23:09:16.015 T:14840    INFO <

[2022-05-08 22:03] ValentijnDemeyer commented on #51
Hi,
Same issue on RPI4 running Librelec 10.0.2.
Every channel I try to play results in the following error: "One or more items failed to play. Check the log for more information about this message."

I uploaded the log for convenience: https://paste.kodi.tv/wotawosecu.kodi

Thanks in advance.

[2022-05-09 18:30] coreflake1 commented on #51
Interesting log

HTTPSConnectionPool(host='api.yeloplay.be', port=443): Max retries exceeded with url: /api/v1/epg/channel/list?platform=Web (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1125)')))

altough if you check the site
https://api.yeloplay.be/api/v1/epg/channel/list?platform=Web

SSL is valid.

[2022-05-17 11:02] kverkind commented on #51
@dagwieers I can confirm. There has to be some change in API that causes this. Is there any documentation shared on this API?

[2022-05-22 05:02] esjay90 commented on #51
I am using CoreELEC on a odroid and having the same issue. For me it seems to have started after a CoreELEC update. I am running version 19.5-Matrix_rc1

The Yelo addon is working, but when I select a channel to stream, it returns an error. You can find the log files bellow. As far I can understand, it is the videoplayer that has issues with playing the stream, but I do not know what is the cause.

[2022-05-26 19:38] ghost opened #52 "Kodi osmc"
i have Kodi version Kodi19L_19.4.1.0  installed on my qnap NAS. I use the yelo app 1.02 version from the repo from Kodi from the addon menu. Tried to update to 1.03 version but i recieve the error :
The dependency on xbmc.python version 2.26.0 could not be satisfied
I also have a Pi 3 with kodi osmc -> same problem
is the new yelo version 1.03 not compatible with latest kodi libreelec/osmc version

[2022-05-26 21:34] ValentijnDemeyer commented on #51
Hi,

After a clean install of KODI it worked again. unfortunately after a reset, the same error popped up.

[2022-05-27 09:50] esjay90 commented on #51
Hi,
The clean install did work for me. Thank you!
I am going to hijack the topic for the following question. For the clean install, I had to redo all my settings and reinstall all my addons. If I create a backup and install reload this after the re-installation of KODI, does this still counts as a clean install?

[2022-05-31 17:58] wormpy001 commented on #46
Doesn't work for me. Anyone other solutions?

[2022-05-31 18:01] wormpy001 commented on #46
Doesn't work for me. Anyone other solutions?

[2022-05-31 18:30] wormpy001 commented on #51
is there a solution already? I've tried to rename the data.json. Reinstall the widevine. But no luck

[2022-06-01 08:08] esjay90 commented on #51
After the clean install, the app worked for a short time. Now this is again not able to play the videostream.

[2022-06-01 10:07] ValentijnDemeyer commented on #51
Hi indeed. I had the same. Worked for a short time. Very strange behaviour.
Unfortunatley I don't have the skills to dive deeper.

Op wo 1 jun. 2022 om 10:08 schreef esjay90 ***@***.***>

[2022-06-01 14:25] dfz0r commented on #51
paging @dagwieers
reinstalling kodi or just remove inputstream helper and kodi addon has the same effect
It works the first time and then it stops working after x amount of streams. I had it happen on the 2nd one or the day after
always with the keys error like above
T:2012 ERROR : AddOnLog: inputstream.adaptive: License update not successful (no keys)
T:2012 ERROR : AddOnLog: inputstream.adaptive

[2022-06-03 18:33] FilipDem commented on #51
I suppose this plugin isn't maintained anymore... Correct?

[2022-06-03 19:32] kverkind commented on #51
Works on Nvidia shield.

[2022-06-04 15:02] FilipDem commented on #51
I have the same problem as dfz0r
T:2012 ERROR : AddOnLog: inputstream.adaptive: License update not successful (no keys)
T:2012 ERROR : AddOnLog: inputstream.adaptive: Initialize failed (SingleSampleDecrypter)
All other apps like VrtNu, Vtmgo are working well...

[2022-07-07 16:46] pl0ng commented on #51
Paging @michaelarnauts

[2022-07-07 18:42] michaelarnauts commented on #51
Sorry, nothing I can do to help here.

[2022-07-24 19:59] FilipDem commented on #51
Has somebody this still working on RPI?
Thanks for the info!

[2022-08-15 12:01] FilipDem commented on #51
Could this be possible that it has all to do with too exceeding the number of credential usage? Blacklisted by telenet?
However still strange because when I look on yelo on my PC (from the same network) it still works... And I am sure that max. 2 devices are used to watch yelo at the same time?
Is there any possible way to reset this?
Thanks

[2022-08-15 15:33] dagwieers commented on #51
Someone that still has Telenet Yelo access (old decoder) will have to take over this add-on. Gradually fewer people will have access to Yelo when their old decoder is replaced by a new decoder. There is no Kodi add-on for supporting the newer Telenet TV although there is a lot of demand for this.

[2022-08-17 14:38] coreflake1 commented on #51
Looked at it a bit more.
My guess is that they implemented VMP encoding for the old digibox as well (I have an old one).
That's why no one got the new telenetTV working on PI.

Should work on fine on android. It's due to the certified widevine verification that is needed to use VMP.
This is impossible to aquire on PI as we rip widvine packages from chromeOS and therefore can never be certified by

[2022-08-18 13:30] fcools commented on #51
Well, I think there is no solution to this widevine problem right now.
The way Kodi is coded, not using existing mediaplayers, there is no way to do this, I doubt that it will even work on Android.

If you install for example Ubuntu on a Raspberry PI, Yelo will play without any problems in a browser, thus one may think that playing Yelo in an integrated Chromium browser would work, and it does. Th

[2022-08-18 13:55] esjay90 commented on #51
How can it be explained, based on the theory above, that the stream works for a short time after a reinstal?

[2022-08-18 13:58] fcools commented on #51
Don't know... could be a limited period whilst waiting for the keys?

[2022-10-11 08:36] ValentijnDemeyer commented on #51
Not completely when I did that the yelo issue was back as well.

I'm going to try some different things to see what addon tricks the error

Op vr 27 mei 2022 om 11:50 schreef esjay90 ***@***.***>

[2022-11-27 07:13] StarWing01 opened #53 "Update to new platform ?"
Since telenet has updated their TV/YeloTV/website, are there any plans to update this plugin to the new platform ?
@dagwieers @shycoderX

Thanks a lot !

[2022-11-29 21:49] piejanssens commented on #53
See #35